#selectise-wrapper {
  margin: 8px;
  border-radius: 8px;
  margin: 8px;
  box-shadow: 0px 3px 4px #00000052;
}
#selectise-wrapper > .selectise-input {
  border: 1px solid #222222;
  border-radius: 6px 6px 0px 0px;
  line-height: 3em;
  padding: 2px 8px;
  width: 100%;
}
#selectise-wrapper > .selectise-options {
  border: 1px solid #222222;
  width: 100%;
  border-radius: 0px 0px 6px 6px;
  line-height: 3em;
  padding: 2px 8px;
  display: block;
  border-top: 0px;
}

#selectise-wrapper > .selectise-options:focus {
  outline: none;
}
#selectise-wrapper > .selectise-input:focus {
  outline: none;
}
